/*
.nacho-container {
  background: rgba(0, 54, 54, 0.5);
  position: relative;
  float: left;
  margin-left: 40px !important;
  padding: 0px;
  color: white;
  border-radius: 25px;
  width: 100%;
}

.search-and-add-btn {
  height: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
  background-image: url("../images/nacho-pattern.png");
}

.nacho-gif {
  height: 100px;
  width: 100px;
  background-color: teal;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-left: 600px;
  position: relative;
  top: 10%;
}

.nacho-query {
  position: relative;
  top: -30%;
}

.nacho-query input {
  background-color: black;
  color: white;
  border: solid white 2px;
  padding: 10px;
  border-radius: 20px;
}

.nachos-wrapper {
  margin-top: 30px;
}

.comments-container {

}

.nacho-header {
  background: black;
  height: 50px;
  padding: 20px;
  padding-top: 10px;
  border: solid white 2px;
}

.nacho-main {
  border: solid white 2px;
  padding: 20px;
}

button {
  background-color: white;
}

.nacho-thumbs {
  width: 150px;
  height: 300px;
  display: inline-block;
  float: left;
  padding-right: 15px;
}

.nacho-thumbs img {
  padding-right: 20px;
  width: 150px;
  height: auto;
  overflow: hidden;
  border: none;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}

.nacho-featured img {
  max-height: 300px;
  display: block;
  padding: 0;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-left: auto;
}

.circle {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.comment-text {
  display: inline-block;
  padding: 10px;
}

.user-comment-thumb {
  max-width: 150px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;
  padding: 0;
}

.nacho-photos {
  min-height: 300px;
  width: 100%;
}

.chat-div {
  background-color: white;
  color: black;
  height: 800px;
  position: relative;
  float: right;
  margin-right: 40px !important;
  min-width: 200px;
  max-width: 350px;
  padding-top: 20px;
  padding: 20px;
}

.chat {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

.chat-div ul {
  list-style-type: none;
}

.chat-div ul li {
  border-bottom: 1px solid black;
}

img.nacho {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  width: 400px;
}

ul.nacho-thumbs {
  margin: 0;
  list-style: none;
}

ul.nacho-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.nacho-thumbs img {
  width: 100px;
  padding: 1em;
}

.nacho-images {
  background-color: white;
  width: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

img.nacho {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  width: 400px;
  height: auto;
  display: none;
}

img.nacho:first-child {
  display: block;
}

*/
