.nacho-container {
  background: rgba(, 0, 0, 0.4);
  position: relative;
  float: left;
  margin-left: 40px !important;
  padding: 20px;
  color: white;
  border: 2px solid red;
  border-radius: 25px;
  width: 100%;
}

.chat-div {
  background-color: white;
  color: black;
  height: 800px;
  position: relative;
  float: right;
  margin-right: 40px !important;
  min-width: 200px;
  max-width: 350px;
  padding: 20px;
}

.chat {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

.chat-div ul {
  list-style-type: none;
}

.chat-div ul li {
  border-bottom: 1px solid black;
}
