<div class="eight columns offset-by-one"
  <div class="nacho-header">
    <h3>{{nacho.title}}</h3>
  </div>
  <div class="nacho-images">
    <img class="nacho"
        ng-src="{{mainImageUrl}}"
        ng-repeat="photo in nacho.photos"
        ng-class="{active:mainImageUrl==photo}">
    </div>
    <ul class="nacho-thumbs">
      <li ng-repeat="photo in nacho.photos">
        <img ng-src="{{photo}}" ng-click="setImage(photo)">
      </li>
    </ul>

  <div class="nacho-description twelve columns">
    <p>{{nacho.description}}</p>
  </div>
  <div class="twelve columns">
    <p><span class="tag" ng-repeat="tag in nacho.tags">{{tag}}</span></p>
    <button ng-click="nachoCtrl.newComment()">comment</button>
  </div>

  <div ng-show="nachoCtrl.commenting">
    <textarea ng-model="nachoCtrl.comment"></textarea>
    <button ng-click="nachoCtrl.addComment(nacho, nachoCtrl.comment)">submit comment</button>
  </div>

  <div class="post-ud" ng-show="nachoCtrl.user.uid == nacho.userId">
  <button ng-click="nachoCtrl.deleteNacho(nacho)">delete</button>
  <button ng-click="nachoCtrl.showEditor(nacho)">edit</button>
  </div>
</div>
