<div class="jumbotron">
  <h1>Nightly Nachos</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- TEST DATA -->
<div ng-controller="NachoListCtrl as nachoCtrl">
  <form ng-submit="nachoCtrl.submit()">
    Nacho Title: <input type="text" name="title" ng-model="nachoCtrl.nacho.title" required>
    Description: <input type="text" name="description" ng-model="nachoCtrl.nacho.description" required>
    Tags: <input type="text" name="tags" ng-model="nachoCtrl.nacho.tags" required>
    photos: <input type="text" name="photos" ng-model="nachoCtrl.nacho.photos" required>
    <input type="submit" id="submit" value="Submit" />
    <tt>title = {{title}}</tt><br>
  </form>


  <!-- SHOW NACHO RECIPES -->

  <ul>
    <li ng-repeat="nacho in nachoCtrl.nachos">
      <span>{{nacho.title}}</span>
      <p>{{nacho.description}}</p>
      <p>{{nacho.tags}}</p>
      <img src="{{nacho.photos}}">
    </li>
  </ul>

</div>
