<div ng-controller="NachoListCtrl as nachoCtrl">

  <button ng-if="nachoCtrl.user" ng-click='toggleModal()'>Add Nacho</button>

  <div class="nachos-wrapper seven columns">


    <div ng-click="test()"class="two columns">
     Search: <input ng-model="query">
    </div>

    <div class="nacho-container" ng-repeat="nacho in nachoCtrl.nachos |   filter:query">

      <div class="nacho-header">

        <h3 class="inline">
          <a class="title-link inline" ng-href="{{nachoCtrl.findNachoUrl(nacho)}}">{{nacho.title}}</a>
        </h3>


      </div>

      <div class="nacho-main">
        <div>
          <img class="nacho-image" src="{{nacho.photos[0]}}">
        </div>

        <div ng-init="nachoUser = nachoCtrl.findNachoUser(nacho)" class="twelve columns">
          <h5>By: {{nachoUser.name}}</h5>
        </div>

        <div class="post-ud" ng-show="nachoCtrl.user.uid == nacho.userId">
          <button ng-click="nachoCtrl.deleteNacho(nacho)">delete</button>
          <button ng-click="nachoCtrl.showEditor(nacho)">edit</button>
        </div>
        <button class="inline right-hdr-button" ng-if="nachoCtrl.user" ng-click="nachoCtrl.newComment()">Add comment</button>


      </div>

      <div ng-show="nachoCtrl.commenting">
        <textarea ng-model="nachoCtrl.comment"></textarea>
        <button ng-click="nachoCtrl.addComment(nacho, nachoCtrl.comment)">submit comment</button>
      </div>

      <div ng-class="comments-container">
        <div style="background-color: {{comment.color}}" class="comment-container" ng-repeat="comment in nachoCtrl.findComments(nachoCtrl.comments, nacho.$id )">
            <div class="circle">
              <img class="user-comment-thumb" ng-src="{{nachoCtrl.findUserPhoto(comment.userId).img}}">
            </div>
          <p class="comment-text">{{comment.text}}</p>
        </div>
      </div>
    </div>

  <!--   <div class="nacho-container" ng-repeat="nacho in nachoCtrl.nachos | filter:query">
      <div class="nacho-header">
        <h3>{{nacho.title}}</h3>
      </div>

      <div class="nacho-photos">
        <div class="nacho-thumbs">
          <div ng-repeat="photo in nacho.photos">
            <img ng-click="nachoCtrl.featurePhoto(nacho, photo)" src="{{photo}}">
          </div>
        </div>

        <div class="nacho-featured">
          <img src="{{nacho.featuredPhoto}}">
        </div>
      </div>

      <div class="nacho-description">
        <p>{{nacho.description}}</p>
      </div>
      <p><span class="tag" ng-repeat="tag in nacho.tags">{{tag}}</span></p>
      <button ng-click="nachoCtrl.newComment()">comment</button>

      <div ng-show="nachoCtrl.commenting">
        <textarea ng-model="nachoCtrl.comment"></textarea>
        <button ng-click="nachoCtrl.addComment(nacho, nachoCtrl.comment)">Submit comment</button>
      </div>

      <div class="post-ud" ng-show="nachoCtrl.user.uid == nacho.userId">
      <button ng-click="nachoCtrl.deleteNacho(nacho)">delete</button>
      <button ng-click="nachoCtrl.showEditor(nacho)">edit</button>
      </div>
    </div> -->

      <!-- COMMENTS
      <div class="comments-container">
        <div style="background-color: {{comment.color}}" class="comment-container" ng-repeat="comment in nachoCtrl.findComments(nachoCtrl.comments, nacho.$id )">
          <div class="circle">
            <img class="user-comment-thumb" src="{{comment.userPhoto}}">
          </div>
          <p class="comment-text">{{comment.text}}</p>
        </div>
      </div> -->

  </div>

  <div class="chat-div four columns" ng-controller="ChatCtrl">
    <h2 class="chat">Chat</h2>

    <form>
      <input placeholder="Message..." ng-model="newMessage">
      <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
    </form>

    <ul id="messages" ng-show="messages.length">
      <li ng-repeat="message in messages | reverse">{{message.text}}</li>
    </ul>

    <p class="alert alert-danger" ng-show="err">{{err}}</p>

  </div>


    <form ng-show= "nachoCtrl.editing" ng-submit="nachoCtrl.editNacho(nachoCtrl.nachoToEdit)">
      Nacho Title: <input type="text" name="title" ng-model="nachoCtrl.nachoToEdit.title" required>
      Description: <input type="text" name="description" ng-model="nachoCtrl.nachoToEdit.description" required>
      Tags: <input type="text" name="tags" ng-model="nachoCtrl.nachoToEdit.tags" >
      photos: <input type="text" name="photos" ng-model="nachoCtrl.nachoToEdit.photos" required>
      <input type="submit" id="submit" value="Edit" />
    </form>


  </ul>
<div nn-file-upload template-url='views/partials/nn-file-upload-new.html'></div>
    <modal-dialog show='modalShown' width='960px' height='80%'>
      <form>
        <button ng-click='hideModal()'>test</button>
        Nacho Title: <input type="text" name="title" ng-model="nachoCtrl.nacho.title" required ng-minlength="10"><br>
        Description: <input type="text" name="description" ng-model="nachoCtrl.nacho.description" required><br>
        Tags: <input type="text" name="tags" ng-model="nachoCtrl.tag"><br>
        <button ng-click="nachoCtrl.addTag(nachoCtrl.tag)">add tag</button>
        <p><span class="tag" ng-repeat="tag in nachoCtrl.nacho.tags">{{tag}}</span></p>
        photos (from URL): <input type="text" name="photos" ng-model="nachoCtrl.urlPhotos"><br>
        <input type="submit" id="submit" ng-click ="nachoCtrl.submit()" value="Submit"/>
              <div nn-file-upload template-url='views/partials/nn-file-upload-new.html'></div>
      </form>
    </modal-dialog>



</div>
